.centered {
  text-align: center;
  font-family: perpetua, monospace, sans-serif;
}

h1 {
  font-size: 3em;
}

h2,
h3 {
  font-size: 2em;
}

p {
  font-size: 1.55em;
}

button,
input {
  font-size: 1.25em;
}

ul {
  list-style-type: none;
  font-size: 1.5em;
}
li {
  display: inline;
}

li:nth-child(odd) {
  background-color: #fdeb9d;
}
li:nth-child(even) {
  background-color: #720e9e;
  color: white;
}

#output {
  font-size: 4em;
}

html {
  background: url('https://images.unsplash.com/photo-1650024520239-c7fc2bbfa340?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDE0fHxndWVzc2luZyUyMGdhbWV8ZW58MHx8MHx8&auto=format&fit=crop&w=700&q=60')
    no-repeat center fixed;
  background-size: cover;
  color: #720e9e;
}
.guessesSoFar,
.hints {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}
.guessesSoFar > li,
.hints > li {
  flex-grow: 1;
}
div#feedback {
  margin-top: 0;
  margin-bottom: 0;
}
